In [1]:
import pandas as pd 
import requests

In [4]:
stats = "https://api.paintswap.finance/v2/collections/0x250c1271bd7c99c6570529f1f2571d455e49793d"

In [5]:
three = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/3?numToFetch=50&getUri=false"

In [17]:
ids = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/1"

In [18]:
r = requests.get(ids)

In [19]:
r.json()

{'origImage': 'ipfs://bafybeigf3jm6zpbegvxrysopzlugqrd236k66c5vpsm6sf4nzuio7duar4/IMG_2305.jpg',
 'tokenURI': 'ipfs://bafyreiayxox6nahgw2jiqgcxlunx7hdusxvbpfdyihr3v2gizmt2flcmgu/metadata.json',
 'created_at': 1651906601934,
 'description': 'Trophy for winners of Corgi Contests',
 'mimeType': 'image/jpeg',
 'metadataAttempts': 0,
 'token_id': '1',
 'updated_at': 1659985439859,
 'extra': '',
 'id': '0x250c1271bd7c99c6570529f1f2571d455e49793d_1',
 'image': 'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_1.jpg',
 'thumbnail': 'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_1_thumb.jpg',
 'address': '0x250c1271bd7c99c6570529f1f2571d455e49793d',
 'tokenId': '1',
 'manifestHash': '1541331118079402b1c0f6ac7908009d',
 'hasMetadata': True,
 'animation_type': None,
 'isBase64': False,
 'metadataHash': 'a981273944b7d0df5cf445cc91bf0c60',
 'hasOptimizedImage': True,
 'chainId': 250,
 'name': 'Corgi Contest Champion',
 'attributes': [{'average': '0.30120',
   'count': 25,
   'value': '0',
   'trait_type': 'Attributes Count',
   'frequency': 30.120481927710845}],
 'optimizationAttempts': 0,
 'snapshot': '',
 'rarity': {'score': 30.120481927710845,
  'total': 83,
  'rank': 59,
  'calculated_at': 1659985439632},
 'subgraphIndex': 0,
 'approvalState': 'approve',
 'contentVerified': True,
 'isFNFT': False}

In [20]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/1?numToFetch=50&getUri=false"

In [21]:
r = requests.get(address)

In [23]:
r.json()['nft']

{'address': '0x250c1271bd7c99c6570529f1f2571d455e49793d',
 'collections': [],
 'createdTimestamp': '1651864344',
 'creator': '0xdc96dc73c2321400aee24761ce43f8c6ef33a10e',
 'custom1': '0',
 'custom2': '0',
 'history': [],
 'isERC721': False,
 'isNSFW': False,
 'isTracked': True,
 'isTransferable': True,
 'lastSellPrice': None,
 'mintOrder': '0',
 'num': '50',
 'onSale': False,
 'owner': '',
 'soldAmounts': [],
 'soldPrices': [],
 'soldTimestamps': [],
 'tokenId': '1',
 'subgraphIndex': 0,
 'approvalState': 'approve',
 'contentVerified': True,
 'isFNFT': False,
 'anyForSale': False}

In [9]:
range(3,83)

range(3, 83)

In [2]:
names = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/"

In [3]:
temp = []
for i in range(3, 100):
    r = requests.get(names + str(i))
    if r.status_code == 200:
        name = r.json()['name']
        token = r.json()['tokenId']
        temp.append({'name' : name, 'token' : token})

In [4]:
nft_df = pd.DataFrame(temp)

In [5]:
nft_df.to_csv("corgis.csv", index=False)

In [69]:
sheet_url = "https://docs.google.com/spreadsheets/d/1KMbi6Ywf0tAzmhlBSlDQ4ygs9AOOFF4wVp7kk7OvxyU/edit#gid=495548921"

In [70]:
url_1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [71]:
df = pd.read_csv(url_1)

In [72]:
df

                  name  token  type    side name
0      Dr. Andre Corgi      3  main          NaN
1        Corgi Nurse 1      4  side  Corgi Nurse
2        Corgi Nurse 2      5  side  Corgi Nurse
3        Corgi Nurse 3      6  side  Corgi Nurse
4        Corgi Nurse 4      7  side  Corgi Nurse
..                 ...    ...   ...          ...
76            CorgiVee     83  main          NaN
77  Interstellar Corgi     84  main          NaN
78        Austin Corgi     85  main          NaN
79           24 Corgi$     86  main          NaN
80         Bebis Corgi     87  main          NaN

[81 rows x 4 columns]

In [51]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/3?numToFetch=50&getUri=false"

In [36]:
temp = []
for i in df['token']:
    address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/{}?numToFetch=50&getUri=false".format(i)
    r = requests.get(address)
    temp.append(r.json()['nft']['owner'])

df['address'] = temp

In [48]:
temp = []
for i in df['token']:
    ids = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/"
    r = requests.get(ids + str(i))
    temp.append(r.json()['thumbnail'])

df['image'] = temp

In [49]:
df['image'][0]

'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_3_thumb.jpg'

In [50]:
df

,name,token,type,address,image
0,Dr. Andre Corgi,3,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
1,Corgi Nurse 1,4,side,0x44d19f3da0fcb4b4dd4baaad77ad35e962f6b921,https://media-nft.paintswap.finance/250_0x250c...
2,Corgi Nurse 2,5,side,0xe7ba7b45a862ebfbe4199393abfe94a8da1e62b2,https://media-nft.paintswap.finance/250_0x250c...
3,Corgi Nurse 3,6,side,0x6ffbb6c376d0cf590289671d652ae92213614828,https://media-nft.paintswap.finance/250_0x250c...
4,Corgi Nurse 4,7,side,0x0db19222f6f894be3fdda1dc89fb4bd97becfcf5,https://media-nft.paintswap.finance/250_0x250c...
...,...,...,...,...,...
76,CorgiVee,83,main,0xd473781816837c7cd2fadc34e66f09786d2e2694,https://media-nft.paintswap.finance/250_0x250c...
77,Interstellar Corgi,84,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...
78,Austin Corgi,85,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...
79,24 Corgi$,86,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
80,Bebis Corgi,87,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...

In [52]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/{}?numToFetch=50&getUri=false"

In [53]:
address.format(1)

'https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/1?numToFetch=50&getUri=false'

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ALMIGHTYABE/FTM-Corgis-Tracker/main/data/corgis.csv")

In [3]:
df['address'][0]

'0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8'

In [18]:
filtered = df[df['address'] == '0xe66b9c6b6363195e75f806bf5519e578f02114ce']

In [19]:
filtered

,name,token,type,batch,address,image
7,Corgi Nurse 7,11,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
14,Corgi Nurse 14,18,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
15,Corgi Nurse 15,19,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
16,Corgi Nurse 16,20,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
19,Corgi Nurse 19,23,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
25,Corgi Trooper #3,29,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
31,Corgi Trooper #9,35,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
32,Corgi Trooper #10,36,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
35,Corgi Trooper #13,39,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
40,Corgi Trooper #18,44,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
46,Corgi Trooper #24,50,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
49,Professional Corgi,53,main,NaN,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
53,Corgi Intern #4,60,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
54,Corgi Intern #5,61,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
57,Corgi Intern #8,64,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
61,Corgi Intern #12,68,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
72,Corgi Intern #23,79,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
75,Captain Corgi,82,main,NaN,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...

In [21]:
batch_counts = pd.DataFrame(filtered['batch'].dropna().value_counts())
batch_counts.reset_index(inplace=True)
batch_counts.columns = ['Batch', 'Number of Sides']
batch_counts.sort_values(by=['Batch'], axis=0, inplace=True)
batch_counts.style.hide_index()
min_side = batch_counts['Number of Sides'].min()
max_side = df['batch'].value_counts().count()
batch_counts['Bool'] = batch_counts['Number of Sides'].apply(lambda i: True if i >= min_side else False)
batch_counts['address'] = '0xe66b9c6b6363195e75f806bf5519e578f02114ce'

<ipython-input-21-9c5d931eca16>:5: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  batch_counts.style.hide_index()

In [37]:
temp = pd.DataFrame()

In [38]:
batch_counts

     Batch  Number of Sides  Bool                                     address
1  Batch 1                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
0  Batch 2                6  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
2  Batch 3                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce

In [41]:
temp = pd.concat([temp, batch_counts], axis = 0)

In [42]:
temp

     Batch  Number of Sides  Bool                                     address
1  Batch 1                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
0  Batch 2                6  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
2  Batch 3                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
1  Batch 1                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
0  Batch 2                6  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce
2  Batch 3                5  True  0xe66b9c6b6363195e75f806bf5519e578f02114ce

In [121]:
temp_list = []

In [122]:
if (batch_counts['Bool'].all(axis=0)) & (min_side >= 1):
    temp_list.append(['0xe66b9c6b6363195e75f806bf5519e578f02114ce', min_side])

In [123]:
temp_list

[['0xe66b9c6b6363195e75f806bf5519e578f02114ce', 5]]

In [172]:
filtered

,name,token,type,batch,address,image
7,Corgi Nurse 7,11,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
14,Corgi Nurse 14,18,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
15,Corgi Nurse 15,19,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
16,Corgi Nurse 16,20,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
19,Corgi Nurse 19,23,side,Batch 1,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
25,Corgi Trooper #3,29,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
31,Corgi Trooper #9,35,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
32,Corgi Trooper #10,36,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
35,Corgi Trooper #13,39,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
40,Corgi Trooper #18,44,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
46,Corgi Trooper #24,50,side,Batch 2,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
49,Professional Corgi,53,main,NaN,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
53,Corgi Intern #4,60,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
54,Corgi Intern #5,61,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
57,Corgi Intern #8,64,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
61,Corgi Intern #12,68,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
72,Corgi Intern #23,79,side,Batch 3,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...
75,Captain Corgi,82,main,NaN,0xe66b9c6b6363195e75f806bf5519e578f02114ce,https://media-nft.paintswap.finance/250_0x250c...

In [174]:
filtered['address'].isin(df3['address']).all()

True

In [78]:
filtered['batch'].dropna().value_counts()

Batch 1    1
Batch 2    1
Batch 3    1
Name: batch, dtype: int64

In [191]:
filtered[filtered['type'] == "main"].shape[0]

2

In [196]:
tickets = 0
main = filtered[filtered['type'] == "main"].shape[0] * 4

if filtered['address'].isin(df3['address']).all():
    side = ((df3.loc[df3['address'] == '0xe66b9c6b6363195e75f806bf5519e578f02114ce', 'Multiplier'].values[0] * max_pp * 2) + 
    (filtered.loc[filtered['type'] == "side"].shape[0] - df3.loc[df3['address'] == '0xe66b9c6b6363195e75f806bf5519e578f02114ce', 'Multiplier'].values[0] * max_pp))
else: side = filtered[filtered['type'] == "side"].shape[0]
            
special = filtered[filtered['type'] == "special"].shape[0]

tickets = main + side + special

In [197]:
tickets

39

In [124]:
df2 = pd.DataFrame()
temp_list = []
for i in df['address'].unique():
    temp_df = df[df["address"] == i]

    # Computing Eligibility
    batch_counts = pd.DataFrame(temp_df['batch'].dropna().value_counts())
    batch_counts.reset_index(inplace=True)
    batch_counts.columns = ['Batch', 'Number of Sides']
    batch_counts.sort_values(by=['Batch'], axis=0, inplace=True)
    batch_counts.style.hide_index()
    min_pp = batch_counts['Number of Sides'].min()
    max_pp = df['batch'].value_counts().count()
    batch_counts['Bool'] = batch_counts['Number of Sides'].apply(lambda i: True if i >= min_pp else False)
    batch_counts['address'] = i 
    
    # Treasures
    if (batch_counts['Bool'].all(axis=0)) & (min_pp >= 1) & (len(batch_counts) == max_pp):
        temp_list.append([i, min_pp])
    
    
    
    batch_counts = batch_counts[['address', 'Batch', 'Number of Sides']]
    df2=df2.append(batch_counts)

In [149]:
df3 = pd.DataFrame(temp_list)
df3.columns = ['address', 'Multiplier']
df3 = df3.sort_values(by="Multiplier", ascending=False)

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ALMIGHTYABE/FTM-Corgis-Tracker/main/data/corgis.csv")

In [12]:
sides_batch_wise = pd.DataFrame()
sides_list = []
max_batch = df['batch'].value_counts().count()
for addy in df["address"].unique():
    sides_df = df[df["address"] == addy]
    
    # Sides per Batch
    batch_counts = pd.DataFrame(sides_df['batch'].dropna().value_counts())
    batch_counts.reset_index(inplace=True)
    batch_counts.columns = ['Batch', 'Number of Sides']
    batch_counts.sort_values(by=['Batch'], axis=0, inplace=True)
    print(batch_counts)
    min_sides = batch_counts['Number of Sides'].min()
    batch_counts['Bool'] = batch_counts['Number of Sides'].apply(lambda i: True if i >= min_sides else False)
    batch_counts['address'] = addy 
    
    # Multiplier
    if (batch_counts['Bool'].all(axis=0)) & (min_sides >= 1) & (len(batch_counts) == max_batch):
        sides_list.append([addy, min_sides])
    
    batch_counts = batch_counts[['address', 'Batch', 'Number of Sides']]
    sides_batch_wise = sides_batch_wise.append(batch_counts)
    
#     sides_batch_wise.to_csv("Sides Batch Wise.csv", index=False)
    
multiplier = pd.DataFrame(sides_list)
multiplier.columns = ['address', 'Multiplier']
multiplier = multiplier.sort_values(by="Multiplier", ascending=False)
# multiplier.to_csv("Multiplier Address Wise.csv", index = False)

     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
2  Batch 3                1
     Batch  Number of Sides
0  Batch 1                1
     Batch  Number of Sides
0  Batch 1                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
2  Batch 3                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
2  Batch 3                1
     Batch  Number of Sides
0  Batch 1                2
1  Batch 2                2
2  Batch 3                1
     Batch  Number of Sides
0  Batch 1                2
1  Batch 2                1
     Batch  Number of Sides
1  Batch 1                5
0  Batch 2                6
2  Batch 3                5
     Batch  Number of Sides
0  Batch 1                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
2  Batch 3                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
     Batch  Number of Sides
0  Batch 1                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
     Batch  Number of Sides
0  Batch 1                1
1  Batch 2                1
     Batch  Number of Sides
0  Batch 3                3
     Batch  Number of Sides
0  Batch 2                1
     Batch  Number of Sides
1  Batch 2                1
0  Batch 3                2
     Batch  Number of Sides
0  Batch 2                1
     Batch  Number of Sides
0  Batch 2                1
     Batch  Number of Sides
0  Batch 2                1
     Batch  Number of Sides
0  Batch 2                1
     Batch  Number of Sides
0  Batch 2                1
1  Batch 3                1
     Batch  Number of Sides
1  Batch 2                1
0  Batch 3                3
     Batch  Number of Sides
0  Batch 3                1
     Batch  Number of Sides
0  Batch 3                1
     Batch  Number of Sides
0  Batch 3                1
     Batch  Number of Sides
0  Batch 3                1
Empty DataFrame
Columns: [Batch, Number of Sides]
Index: []
Empty DataFrame
Columns: [Batch, Number of Sides]
Index: []

<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)
<ipython-input-12-5b64f05d062e>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sides_batch_wise = sides_batch_wise.append(batch_counts)

In [13]:
# Ticket Calculation
tickets = 0
tickets_list = []
for addy in df["address"].unique():
    
    # Address Filter
    filtered = df[df['address'] == addy]
    
    # Main Tickets
    main = filtered[filtered['type'] == "main"].shape[0] * 4
    
    # Side Tickets
    if filtered['address'].isin(multiplier['address']).all():
        side = ((multiplier.loc[multiplier['address'] == addy, 'Multiplier'].values[0] * max_batch * 2) +
                (filtered.loc[filtered['type'] == "side"].shape[0] - multiplier.loc[multiplier['address'] == addy, 'Multiplier'].values[0] * max_batch))
    else: side = filtered[filtered['type'] == "side"].shape[0]
    
    # Special Tickets
    special = filtered[filtered['type'] == "special"].shape[0]
    
    # Total Tickets
    tickets = main + side + special
    
    tickets_list.append([addy, tickets])
    
tickets_df = pd.DataFrame(tickets_list)

In [14]:
tickets_df

                                             0   1
0   0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8  15
1   0x44d19f3da0fcb4b4dd4baaad77ad35e962f6b921   1
2   0xe7ba7b45a862ebfbe4199393abfe94a8da1e62b2   1
3   0x6ffbb6c376d0cf590289671d652ae92213614828  10
4   0x0db19222f6f894be3fdda1dc89fb4bd97becfcf5  10
5   0xfc961534a0a55b925db2c5ee546c8a019c0d78d5   8
6   0x06f9e5f8f5c170b9eece58676d932bcc398f52e5   3
7   0xe66b9c6b6363195e75f806bf5519e578f02114ce  39
8   0x8807842d0846034b52b3c70bd975ce349ae4b683   1
9   0xeeb072ecbe68bd123888a60cafd4c8c4fa02c65b   6
10  0xadea3af062df0de0c29e67d001d0859cd738bccd   6
11  0x0bda0f33311e65379461d0a555bbd7669c0eaa22   1
12  0x26de13234f7a7b29b1fbbc27fdeef7c5bf840ace   2
13  0x7dfc164f390a051f2483532d1756d80b76ea4aa8   2
14  0xfa7c11e9e2d4fcd0f4646515a17289f5892a40b7   7
15  0x28a173026fa5b1c8efbac54f289cf37280610cc6   1
16  0x6f37b3a5d857ad7388e073ac2f21b313aa554c7a   3
17  0x358c8b4836006235680367d70d9d148955b24154   1
18  0x8d580265c37790f4c39ccaf398adefd341b3ca0b   1
19  0x3f01fa6e75f9d0477108f994400280b71915bf56   1
20  0x8a30fe8dd7c1b8ee6fff8892731ed345b9e33b29   1
21  0xd473781816837c7cd2fadc34e66f09786d2e2694   6
22  0xab1d7d0ed74f6c513915f4368b734bb3c456c958   4
23  0x0302f3434dbdee9d3faf680cba8a2bae6b34a83c   1
24  0xd8b1d41a77f12bb972ead1b4c3503693f1cd0560   1
25  0x5a56e9ab6303794224ff8ab1c14bf2a5c26505bc   1
26  0x0c1c28ada4f896fcd6abe8aa25d1798af869adcc   1
27  0x90c41319d32b488b0d27b022c553755d9785d3d4   4
28  0xdc96dc73c2321400aee24761ce43f8c6ef33a10e   6