In [32]:
import pandas as pd 
import requests

In [4]:
stats = "https://api.paintswap.finance/v2/collections/0x250c1271bd7c99c6570529f1f2571d455e49793d"

In [5]:
three = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/3?numToFetch=50&getUri=false"

In [39]:
ids = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/4"

In [40]:
r = requests.get(ids)

In [47]:
r.json()

{'id': '0x250c1271bd7c99c6570529f1f2571d455e49793d_87',
 'address': '0x250c1271bd7c99c6570529f1f2571d455e49793d',
 'tokenId': '87',
 'createdBlockNumber': 44350929,
 'chainId': 250,
 'num': 0,
 'hasMetadata': True,
 'hasOptimizedImage': True,
 'metadataAttempts': 0,
 'optimizationAttempts': 0,
 'created_at': 1659801065846,
 'updated_at': 1659963159710,
 'image': 'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_87.jpg',
 'tokenURI': 'ipfs://bafyreihltta6kxdxzjiyoqiq2of5c6h7tkuujkau6j3i27cdijhhxrvhhi/metadata.json',
 'manifestHash': '1182f71c553ee253c0e8b952d1725846',
 'name': 'Bebis Corgi',
 'description': 'Host of Corgi Unchained wielding a katana!',
 'attributes': [{'average': '0.01205',
   'count': 1,
   'value': 'Tie Dye',
   'trait_type': 'Shirt',
   'frequency': 1.2048192771084338},
  {'average': '0.01205',
   'count': 1,
   'value': 'Black',
   'trait_type': 'Katana ',
   'frequency': 1.2048192771084338},
  {'average': '0.03614',
   'count': 3,
   'value': 'Blue',
   'trait_type': 'Background',
   'frequency': 3.614457831325301},
  {'average': '0.15663',
   'count': 13,
   'value': '3',
   'trait_type': 'Attributes Count',
   'frequency': 15.66265060240964}],
 'isBase64': False,
 'origImage': 'ipfs://bafybeigiebkxwffk2hfmxz6qrotg65kvlydtv3seopolvxrlfwftvyq2ce/a8f02457-e7f9-4e6a-9eba-b8a420da09f6.jpeg',
 'mimeType': 'image/jpeg',
 'extra': '',
 'thumbnail': 'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_87_thumb.jpg',
 'metadataHash': '80677f626908c7da14d915f5ae1d63bc',
 'snapshot': '',
 'rarity': {'score': 1.9994873109459115,
  'total': 83,
  'rank': 9,
  'calculated_at': 1659963159664},
 'subgraphIndex': 0,
 'approvalState': 'approve',
 'contentVerified': True,
 'isFNFT': False}

In [33]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/3?numToFetch=50&getUri=false"

In [34]:
r = requests.get(address)

In [35]:
r.json()['nft']['owner']

'0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8'

In [9]:
range(3,83)

range(3, 83)

In [2]:
names = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/"

In [3]:
temp = []
for i in range(3, 100):
    r = requests.get(names + str(i))
    if r.status_code == 200:
        name = r.json()['name']
        token = r.json()['tokenId']
        temp.append({'name' : name, 'token' : token})

In [4]:
nft_df = pd.DataFrame(temp)

In [5]:
nft_df.to_csv("corgis.csv", index=False)

In [69]:
sheet_url = "https://docs.google.com/spreadsheets/d/1KMbi6Ywf0tAzmhlBSlDQ4ygs9AOOFF4wVp7kk7OvxyU/edit#gid=495548921"

In [70]:
url_1 = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [71]:
df = pd.read_csv(url_1)

In [72]:
df

                  name  token  type    side name
0      Dr. Andre Corgi      3  main          NaN
1        Corgi Nurse 1      4  side  Corgi Nurse
2        Corgi Nurse 2      5  side  Corgi Nurse
3        Corgi Nurse 3      6  side  Corgi Nurse
4        Corgi Nurse 4      7  side  Corgi Nurse
..                 ...    ...   ...          ...
76            CorgiVee     83  main          NaN
77  Interstellar Corgi     84  main          NaN
78        Austin Corgi     85  main          NaN
79           24 Corgi$     86  main          NaN
80         Bebis Corgi     87  main          NaN

[81 rows x 4 columns]

In [51]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/3?numToFetch=50&getUri=false"

In [36]:
temp = []
for i in df['token']:
    address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/{}?numToFetch=50&getUri=false".format(i)
    r = requests.get(address)
    temp.append(r.json()['nft']['owner'])

df['address'] = temp

In [48]:
temp = []
for i in df['token']:
    ids = "https://api.paintswap.finance/v2/metadata/0x250c1271bd7c99c6570529f1f2571d455e49793d/"
    r = requests.get(ids + str(i))
    temp.append(r.json()['thumbnail'])

df['image'] = temp

In [49]:
df['image'][0]

'https://media-nft.paintswap.finance/250_0x250c1271bd7c99c6570529f1f2571d455e49793d_3_thumb.jpg'

In [50]:
df

,name,token,type,address,image
0,Dr. Andre Corgi,3,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
1,Corgi Nurse 1,4,side,0x44d19f3da0fcb4b4dd4baaad77ad35e962f6b921,https://media-nft.paintswap.finance/250_0x250c...
2,Corgi Nurse 2,5,side,0xe7ba7b45a862ebfbe4199393abfe94a8da1e62b2,https://media-nft.paintswap.finance/250_0x250c...
3,Corgi Nurse 3,6,side,0x6ffbb6c376d0cf590289671d652ae92213614828,https://media-nft.paintswap.finance/250_0x250c...
4,Corgi Nurse 4,7,side,0x0db19222f6f894be3fdda1dc89fb4bd97becfcf5,https://media-nft.paintswap.finance/250_0x250c...
...,...,...,...,...,...
76,CorgiVee,83,main,0xd473781816837c7cd2fadc34e66f09786d2e2694,https://media-nft.paintswap.finance/250_0x250c...
77,Interstellar Corgi,84,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...
78,Austin Corgi,85,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...
79,24 Corgi$,86,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
80,Bebis Corgi,87,main,0xdc96dc73c2321400aee24761ce43f8c6ef33a10e,https://media-nft.paintswap.finance/250_0x250c...

In [52]:
address = "https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/{}?numToFetch=50&getUri=false"

In [53]:
address.format(1)

'https://api.paintswap.finance/nft/0x250c1271bd7c99c6570529f1f2571d455e49793d/1?numToFetch=50&getUri=false'

In [64]:
df = pd.read_csv("https://raw.githubusercontent.com/ALMIGHTYABE/FTM-Corgis-Tracker/main/data/corgis.csv")

In [65]:
df['address'][0]

'0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8'

In [66]:
filtered = df[df['address'] == '0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8']

In [67]:
tickets = []
for i in filtered['type']:
    print(i)

main
side
side
main
side
main

In [68]:
filtered

,name,token,type,address,image
0,Dr. Andre Corgi,3,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
13,Corgi Nurse 13,17,side,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
24,Corgi Trooper #2,28,side,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
48,Corgi Soup,52,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
63,Corgi Intern #14,70,side,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...
79,24 Corgi$,86,main,0xc169fd8055ad90a4e40b4106b570d0d59db6a2d8,https://media-nft.paintswap.finance/250_0x250c...